<footer class="footer">
  <div class="footer__ico">
    <a class="footer__icoclick" href="#go-up" alt="go to the menu">
      <img class="footer__icoimg" src="./assets/images/ico-arrow.svg"></a>


    <div class="container0">

      <nav class="navf1">
        <ul class="navlinks"><a class="links" href="https://adalab.es/">
            <li>articles</li>
            <li>books</li>
            <li>events</li>
            <li>reasons</li>
            <li>tips</li>
        </ul>
      </nav>
      <nav class="navf2">
        <ul class="navlinks">
          <li class="links" href="https://twitter.com/Adalab_Digital" target="_blank"> twitter
          </li>
          <li class="links" href="https://www.instagram.com/adalab_digital" target="_blank"> instagram
          </li>
          <li class="links" href="https://adalab.es" target="_blank"> mastodon.social</a>
          </li>
        </ul>
      </nav>


      <div class="copy">
        <small>
          &copy 2021
          we ❤︎ components </small>
      </div>
    </div>


</footer>