<div class="footer">


  <nav class="navf1">
    <ul>
      <li>articles</li>
      <li>books</li>
      <li>events</li>
      <li>reasons</li>
      <li>tips</li>
    </ul>

  </nav>

  <nav class="navf2">
    <ul>
      <li>twitter</li>
      <li>instagram</li>
      <li>mastodon.social</li>
    </ul>
  </nav>

  <small> &copy; 2021 we ❤︎ components
  </small>

</div>

<!-- mirar bien como linkear todo para que enlace con lo que me pide .
   AQUI HAY FLEX EN TODO OBLIGADO-- 
  

  footer class="page__footer">
  <small>
    &copy; Todos los derechos reservados
    <include
      src="./link.html"
      aClass="link__adalab"
      text="Adalab"
      url="https://adalab.es"
    ></include>
  </small>
</footer>


-->