<nav>

  articles
  books
  events
  reasons
  tips

</nav>

<nav>
  twitter
  instagram
  mastodon.social
  <!-- investigar que hace aquí el emmet abrev con est nombre-->
</nav>


<small>
  &copy; 2021 we love components
</small>





<!-- mirar bien como linkear todo para que enlace con lo que me pide .
   AQUI HAY FLEX EN TODO OBLIGADO-- 
  

  footer class="page__footer">
  <small>
    &copy; Todos los derechos reservados
    <include
      src="./link.html"
      aClass="link__adalab"
      text="Adalab"
      url="https://adalab.es"
    ></include>
  </small>
</footer>


-->