<header class="header">
  <img class="icon-menu" src="../assets/images/ico-menu.svg" alt="menu" role="banner">
  <div>
  </div>
</header>



<!-- MENU HAMBUGUESA  se me rompe, FIJO AL HACER SCROLL  . ENLAZA CON WEB ADALAB -->

<!-- INSERTAR IMAGEN HERO AQUI NEWYORK   TIENE QUE OCUPAR SIEMPRE VH <header class="page__header">
  <img src="./assets/images/logo-adalab.png" alt="Adalab">
  <h1>@@title</h1>
</header>

O MEJOR CREAR PARTIAL HERO- QUE DEJAR AQUI Y QUE PONER ALLI??
-->





<!--INCORPORAR ARROW AQUI FLECHITA. TENER EN CUENTA QUE TIENE QUE
  IR ASOCIADA PARA QUE BAJE-->