<div class="hero">

  <h1>
    anonymous proxy
  </h1>

  <h2> in hac habitasse platea dictumst.</h2>

</div>
<!-- INSERTAR MENU HAMBUGUESA , FIJO AL HACER SCROLL  . ENLAZA CON WEB ADALAB -->

<!-- INSERTAR IMAGEN HERO AQUI NEWYORK   TIENE QUE OCUPAR SIEMPRE VH <header class="page__header">
  <img src="./assets/images/logo-adalab.png" alt="Adalab">
  <h1>@@title</h1>
</header>

O MEJOR CREAR PARTIAL HERO- QUE DEJAR AQUI Y QUE PONER ALLI??
-->





<!--INCORPORAR ARROW AQUI FLECHITA. TENER EN CUENTA QUE TIENE QUE IR ASOCIADA PARA QUE BAJE-->