//google fonts

// fonts
$font-main: "Roboto", sans-serif;
$font-titles: "Roboto Slab", serif;

// colors
$colorherofooter: #ffffff;
$colori: #8ccbea;
$colormenu: #0271bc;
$colorfooter: #304268;
$color3reasonsback: #eff9ff;
$colorbutton: #f26002;

//fonts

$sizehero: 2.625rem;
$sizeclaim: 1rem;
$sizerest: 1.125rem;
$sizetitles: 1.5rem ;
$sizei: 0.875rem;
$sizebutton: 1.25rem;

/* ver si mejor usar REMS ya que los eMS se heredan
.NOTA: tendría que cambiar valor en ROOT*/
