.footer {
  background-color: $colorfooter;
  color: $colorherofooter;
  font-family: $font-main;
  text-transform: uppercase;
  padding-top: 45px;
  padding-bottom: 30px;
  padding-right: 39px;
  padding-left: 39px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;

  &__ico {
    position: absolute;
    top: -22.5px;
    background-color: $colorherofooter;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  &__icoimg {
    display: block;
    margin: auto;
    transform: translatey(50%);
    transition: transform ease 2s;
    &:hover {
      transform: translate(0, -70%);
    }
  }
}

.container0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.links {
  color: $colorherofooter;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  @media all and (min-width: 768px) {
    justify-content: center;
    align-items: center;
  }
}

.navlinks {
  margin-top: 30px;
  line-height: 20px;
}
.copy {
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 75px;
  @media all and (min-width: 768px) {
    margin-left: 39px;
    order: -1;
  }
}
