.footer {
  background-color: $colorfooter;
  color: $colorherofooter;
  font-family: $font-main;
  text-transform: uppercase;
  padding-top: 45px;
  padding-bottom: 30px;
  padding-right: 39px;
  padding-left: 39px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
  @media all and(min-width:768px) {
    flex-direction: row;
    justify-content: space-around;
  }

  @media all and (min-width: 1200px) {
    justify-content: center;
  }
  &__ico {
    position: absolute;
    top: -22.5px;
    background-color: $colorherofooter;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  &__icoimg {
    display: block;
    margin: auto;
    transform: translatey(50%);
    transition: transform ease 2s;
    &:hover {
      transform: translate(0, -70%);
    }
  }
}

.links {
  color: $colorherofooter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  @media all and (min-width: 768px) {
    justify-content: center;
    text-align: left;
  }
}
.navf1 {
  @media all and (min-width: 1200px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.navf2 {
  @media all and (min: width 1200px) {
    padding-left: 15px;
    padding-right: 150px;
  }
}
.navlinks {
  margin-top: 30px;
  line-height: 20px;
}
.copy {
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 75px;
  @media all and (min-width: 768px) {
    margin-left: 39px;
    order: -1;
  }
}
