.hero {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  color: $colorherofooter;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  &__title {
    text-transform: uppercase;
    font-family: $font-titles;
    font-size: $sizehero;
  }

  &__claim {
    text-transform: capitalize;
    font-family: $font-main;
  }
}

.ico-scroll {
  width: 45px;
  height: 45px;
  padding: 18px 12px 15.3px 13px;
  background-color: #ffffff;
  border-radius: 22.5px;
  margin: 151px, 149px;
  margin-top: 68px;
  transition: transform ease 1s;
  &:hover {
    transform: translate(0, 100%);
  }
}
