.hero {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  &__title {
    text-transform: uppercase;
  }

  &__claim {
    text-transform: capitalize;
  }
}

.ico-scroll {
  width: 45px;
  height: 45px;
  padding: 18px 12px 15.3px 13px;
  background-color: #ffffff;
  border-radius: 22.5px;
  margin-top: 53px;
}

/*column para que se pongan así, luego justify content center, el text aling para el centro
y para la  flechita, voy a poner aling-items,  VERIFICAR CON responsive si funciona todo ok

en la flechita MIRAR bien. 
 */

/*  

  @media all and (min-width: 768px) {
  }
  @media all and (min-width: 1200px) {
    height: 550px;
  }
}

  @media all and (min-width: 1200px) {
    transform: translate(0, 480px);
  }
} 


REVISAR MEDIDAS Y RESTAS SUMAR O LO QUE SEA CON LOS MARGIN Y LOS PADDING---IMPORTANTE
*/
