h3 {
  font-size: $sizetitles;
}

.insomnia {
  color: $colori;
  font-size: $sizei;
}

.section1 {
  text-transform: capitalize;
}

.section2 {
  text-transform: capitalize;
  background-color: $color3reasonsback;
  font-size: $sizerest;
}
