.titlessect {
  font-size: $sizetitles;
  font-family: $font-titles;
}
.insomnia {
  color: $colori;
  font-size: $sizei;
  line-height: 30px;
}

.section1 {
  font-family: $font-main;
  text-transform: capitalize;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 45x;
}

.section2 {
  font-family: $font-main;
  text-transform: capitalize;
  background-color: $color3reasonsback;
  text-decoration: none;
  font-size: $sizerest;
  text-align: center;
  align-items: center;
  line-height: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.sect2-1,
.sect2-2,
.sect2-3 {
  line-height: 30px;
}

.buttongo {
  text-transform: uppercase;
  color: $colorbutton;
  background-color: $colorherofooter;
  width: 76px;
  height: 45px;
  margin-top: 30px;
  margin-bottom: 45px;
  border-radius: 22.5px;
  border: solid 2px $colorbutton;
  
}
.buttonmore {
  background-color: $colorbutton;
  color: $colorherofooter;
  font-size: $sizebutton;
  width: 124px;
  height: 45px;
  border-radius: 22.5px;
  border: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  transition: text-decoration 0.8s;

  &:hover {
    color: blue;
  }
}
@media (min-width: 768px) {
  .section2 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .titlessect {
    grid-column: 2/3;
    grid-row: span 1;
  }
  .sect2-1 {
    grid-row: 2/3;
    grid-column: span 1;
  }

  .sect2-2 {
    grid-row: 2/3;
    grid-column: span 1;
  }
  .sect2-3 {
    grid-row: 2/3;
    grid-column: span 1;
  }
  .buttonmore {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
