<section class="section1">
    <article>
        <h3>insomnia tips</h3>

        <!-- BUSCAR EJEMPlos porq tengo dudas
        de si es h3 o es link -->

        <h4> looking through a window</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius suscipit quam, eget porta ante
            condimentum in. Praesent congue accumsan convallis. Cras sit amet mattis est. Sed consequat sagittis magna,
            non dictum nisi condimentum nec. Cras consequat eros nec arcu condimentum vel consequat tellus blandit.
        </p>

        <button> GO</button>

        <section class="section2">
            <h3> 3 reasons to purchase</h3>
            <ul>
                <li>
                    <4h> ut sed metus</h4>
                        <p>Lorem impsum dolor sit amet, consecteur.</p>
                </li>

                <li>
                    <h4> ut sed metus</h4>
                    <p>Lorem impsum dolor sit amet, consecteur.</p>
                </li>
                <li>
                    <h4> ut sed metus</h4>
                    <p>Lorem impsum dolor sit amet, consecteur.</p>
                </li>
                <button> more reasons</button>
            </ul>
            <!--INSERTAR ARROW FLECHITA PARA ARRIBA. similar al triangulito pero sin rotación
            mirar los BORDER RADIUS si hace falta-->

        </section>

    </article>
</section>